body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #222;
    color: #ddd;
    padding-left: 15px;
    overflow: hidden;
}
c {
    display: inline-block;
}

c:hover {
    transform: rotate(15deg);
}

.wrong {
    background-color: red;
}
.right {
    background-color: limegreen;
}

.wordbutton {
    display: block;
}


#buttonlist {
    overflow-y: scroll;
    height: 128px;
    width: 100%;
}

