body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #222;
    color: #ddd;
    padding-left: 15px;
}
c {
    display: inline-block;
}

c:hover {
    transform: rotate(15deg);
}

.wrong {
    background-color: red;
}

.wordbutton {
    display: block;
}


#buttonlist {
    overflow-y: scroll;
}