body {
    font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
    background-color: #222;
    color: #ddd;
    padding-left: 15px;
}


.wrong {
    background-color: rgb(188, 43, 43);
}
.right {
    background-color: rgb(61, 205, 61);
}

.wordbutton {
    display: block;
    margin:auto;
    border-style: solid;
    color: #ddd;
    border-radius: 15px;
    margin-top: 2px;
    margin-bottom: 2px;
    height: 20vh;
    width: 50vh;
    text-align: center;
}


#buttonlist {
    overflow-y: scroll;
    height: 80vh;
    width: 100%;
    background-color: #333;
}

